@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@if (ViewBag.CheckLogin != null)
{
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list" id="load_cart">
                        @Html.Action("Partial_Item_Cart", "ClientCart")

                    </div>
                    <p style="text-align:end;">
                        <a href="@Url.Action("CheckOut", "ClientCart")" class="btnOrder btn-black py-3 px-5">Buy</a>
                    </p>
                </div>
            </div>

        </div>
    </section>
}
else
            {
                <div style="text-align:center; margin:50px"><h2>Please login to use cart</h2></div>
            }

